.Lasles__features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 1px 27px 37px -20px rgba(13, 16, 37, 0.55);
  box-shadow: 1px 27px 37px -20px rgba(13, 16, 37, 0.55);
  font-family: var(--font-family);
}
.Lasles__features-hero {
  width: 50%;
}
.Lasles__features-hero img {
  width: 100%;
  height: 100%;
}
.Lasles__features-content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 40%;
  padding: 0;
}
.Lasles__features-content__title {
  color: var(--color-text);

  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
}
.Lasles__features-content__text {
  font-weight: 400;
  font-size: 18px;

  color: var(--color-subtext);

  line-height: 30px;
}
.Lasles__features-content__list {
  list-style: none;
}
.Lasles__features-content__list li {
  display: flex;
  align-items: center;
  gap: 30px;
  
  margin-bottom: 10px;

  font-size: 18px;
}
.Lasles__features-content__list li img {
  width: 24px;
}
@media screen and (max-width: 1050px) {
  .Lasles__features {
    flex-direction: column;
  }
  .Lasles__features-content {
    width: 80%;
  }
  .Lasles__features-content__text,
  .Lasles__features-content__list li {
    font-size: 16px;
  }

  .Lasles__features-hero {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 700px) {
  .Lasles__features-content {
    gap: 30px;
  }
  .Lasles__features-content__title {
    font-size: 27px;
    line-height: 30px;
  }
  .Lasles__features-content__text {
    margin-bottom: 30px;
    line-height: 25px;
  }
}
